<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
		<li class="logo"><a href="/{{ page.lang }}">micro<span style="color:#f0180c">Drum</span></a></li>
		<li><a href="/{{ page.lang }}/about/">
			<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> About</a>
		</li>
		<li><a href="/{{ page.lang }}/downloads/">
			<i class="fa fa-download fa-fw" aria-hidden="true"></i> Downloads</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Docs <b class="caret"></b></a>
			<ul class="dropdown-menu">
{% if page.lang == 'it' %}
				<li><a href="/it/docs/build">Assemblaggio</a></li>
{% endif %}
				<li><a href="/en/docs/bom_v0.7">BOM v0.7</a></li>
				<li><a href="/en/docs/bom_v0.8">BOM v0.8</a></li>
				<li><a href="/en/docs/pcb/v0.7">PCB v0.7</a></li>
				<li><a href="/en/docs/pcb/v0.8">PCB v0.8</a></li>
				<li><a href="/en/docs/teensy">TeensyDrum</a></li>
				<li><a href="/en/docs/setup">Setup</a></li>
				<li><a href="/en/docs/software">Software</a></li>
				<li><a href="/en/docs/faq">FAQ</a></li>
				<li><a href="/en/docs/links">Links</a></li>
			</ul>
		</li>
		<li><a href="/en/gallery/">
			<i class="fa fa-camera fa-fw" aria-hidden="true"></i> Gallery</a>
		</li>
		<li><a href="http://microdrum.net/blog/products-page/">
			<i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i> Shop</a>
		</li>
		<li><a href="http://itunes.apple.com/it/app/microdrum/id456244216/">
			<i class="fa fa-apple fa-fw" aria-hidden="true"></i> Store</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img border="0" src="/assets/flags/{{ page.lang }}.png" width="16" height="11"><b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li>
					<a href="/en/">
					<img border="0" src="/assets/flags/en.png" width="16" height="11"> English</a>
				</li>
				<li>
					<a href="/it/">
					<img border="0" src="/assets/flags/it.png" width="16" height="11"> Italiano</a>
				</li>
			</ul>
		</li>
	</ul>
{% assign search_txt = "Search" %}
{% if page.lang == "it" %} {% assign search_txt = "Cerca" %} {% endif %}
	<form class="navbar-form navbar-right" role="search" action="/{{ page.lang }}/search/">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="{{ search_txt }}" name="q">
			<i class="fa fa-search fa-fw" aria-hidden="true" style="color:#cfcfcf;"></i>
		</div>
	</form>
</div>
